<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.edu.hebtu.software.sharemate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Activity.LikeActivity" />
        <activity android:name=".Activity.FollowedActivity" />
        <activity android:name=".Activity.CommentActivity" />
        <activity android:name=".Activity.LetterActivity" />
        <activity android:name=".Activity.ChatActivity" />
        <activity android:name=".Activity.ZanActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.PersonalActivity" />
        <activity android:name=".Activity.AddressActivity" />
        <activity android:name=".Activity.NameActivity" />
        <activity android:name=".Activity.FriendActivity" />
        <activity android:name=".Activity.FollowActivity" />
        <activity android:name=".Activity.PositionActivity" />
        <activity android:name=".Activity.FabuActivity" />
        <activity android:name=".Activity.YouhuapicActivity" />
        <activity android:name=".Activity.ProductActivity" />
        <activity android:name=".Activity.FollowDetailActivity" />
        <activity android:name=".Activity.NoteDetailActivity" />
        <activity android:name=".Activity.CommentDetailActivity" />
        <activity android:name=".Activity.ReplyActivity" />
        <activity android:name=".Activity.StartActivity"/>
        <activity android:name=".Activity.SelectInterestActivity"/>
        <activity android:name=".Activity.SelectTopicActivity"/>
        <activity android:name=".Activity.InputCodeActivity"/>
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PhonePswdLoginActivity"/>
        <activity android:name=".Activity.ForgetPasswordActivity"/>
        <activity android:name=".Activity.VerifyCodeActivity"/>
        <activity android:name=".Activity.RegisterActivity"/>
        <activity android:name=".Activity.CountryActivity"/>
    </application>

</manifest>